.header{
margin-top:2rem;
margin-bottom:0.4rem;
font-size: 2rem;
text-align: center;
}

.tenis{
    margin-top:4rem;
}

.divider{
    height:1px;
    width:100%;
    background-color: rgb(75, 75, 75);
}

.tenisdata {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.7rem;

}

.label{
    margin-left:0.4rem;
    font-size: large;
}

.tenisdata input[type="checkbox"] {
    width: 1.7em;
    height: 1.7em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.tenisdata input[type="checkbox"]:checked {
    background-color: #b3ccee;
    border-color: #b3ccee;
}