@font-face {
    font-family: 'Designer';
    src: url('../../public/Fonts/Designer.otf');
}
@font-face {
    font-family: ComfoortaTiny;
    src: url(../../public/Fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: ComfoortaMidi;
    src: url(../../public/Fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: ComfoortaBold;
    src: url('../../public/Fonts/Comfortaa-Bold.ttf');
}

@media only screen and (min-width: 1024px) {
.containerHeader {
    width: 69%;
    margin: 0 auto 0 auto;
    display: block;
    font-family: ComfoortaMidi;
}

.mainName,
.mainEmail,
.modalidade {
    width: 100%;
}

.modalidade {
    padding-right: 2px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    font-family: ComfoortaBold;
    color: #7a7a7a;
}

.modalidade:active {
    border: none;
}

.formField {
    box-sizing: inherit;
    height: 2.6rem;
    background-color: #e2e8f0;
    border: none;
    border-radius: 1.1rem;
    padding-left: 0.6rem;
    margin-top: 0.8rem;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.flexItem {
    width: 45%;
}

.containerForm {
    display: flex;
    width: 100%;

    justify-content: space-between;
    box-sizing: inherit;
    flex-wrap: wrap;
}

input {
    font-family: ComfoortaMidi;
}

.submit{
    display:flex;
    background-color: #ff6600;
    border:none;
    border-radius:0.4rem;
    height:2.2rem;
    width:6.8rem;
    margin: 4rem 0 0 auto;
    font-family: ComfoortaMidi;
    font-size:1.1rem;
    color:#3f3f3f;
    align-items: center;
    justify-content: center;

}

.submit:hover{
    background-color: #fda061;
    cursor: pointer;
}

.submit:active{
    height:2.1rem;
    width:6.7rem;
    
}

}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .containerHeader {
    width: 90%;
    margin: 0 auto 0 auto;
    display: block;
    font-family: ComfoortaMidi;
}

.mainName,
.mainEmail,
.modalidade {
    width: 100%;
}

.modalidade {
    padding-right: 2px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    font-family: ComfoortaBold;
    color: #7a7a7a;
}

.modalidade:active {
    border: none;
}

.formField {
    box-sizing: inherit;
    height: 2.6rem;
    background-color: #e2e8f0;
    border: none;
    border-radius: 1.1rem;
    padding-left: 0.6rem;
    margin-top: 0.8rem;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.flexItem {
    width: 45%;
}

.containerForm {
    display: flex;
    width: 100%;

    justify-content: space-between;
    box-sizing: inherit;
    flex-wrap: wrap;
}

input {
    font-family: ComfoortaMidi;
}
.submit{
    display:flex;
    background-color: #ff6600;
    border:none;
    border-radius:0.4rem;
    height:2.2rem;
    width:6.8rem;
    margin: 4rem 0 0 auto;
    font-family: ComfoortaMidi;
    font-size:1.1rem;
    color:#3f3f3f;
    align-items: center;
    justify-content: center;

}

.submit:active{
    background-color: #fda061;
    height:2.1rem;
    width:6.7rem;
    
}

}

@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 320px) and (max-width: 480px) {}