@font-face{
    font-family: 'Designer';
    src: url('../../public/Fonts/Designer.otf')
}
@font-face {
    font-family: ComfoortaTiny;
    src: url(../../public/Fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: ComfoortaMidi;
    src: url(../../public/Fonts/Comfortaa-Regular.ttf);
    
}

@font-face {
    font-family: ComfoortaBold;
    src: url("../../public/Fonts/Comfortaa-Bold.ttf");
}

.list-modalidade{
    position:relative;
    margin-top:15px;
    border-radius:16px;
    background-color: #E2E8F0;;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height:10rem;
    overflow-y:scroll;
    overflow-x: hidden;
    padding-left:10px;
    font-family: ComfoortaMidi;

}


.list-modalidade, .item{
    width:100%;
    list-style:none;
  

}


.itemText{
    margin-left:0.6rem;;
    
}
.item{
    margin-top:0.6rem;
    padding: 0.6rem 1rem;
    width: 40%;
}

.item, .checkbox{
    display:flex;
    align-items: center;
    height:0.8rem;
    width:0.8rem;
    margin-left:12px;
    border:none;
    /* margin-top:0.6rem; */
    
    cursor:pointer;
    

}
.checkbox{
  
    border:1.5px solid rgb(0, 0, 0);
    border-radius:4px;
    padding: 2px;
}

 .check-icon{
    transform:scale(0);
  

}
.fa-solid{

 

}


.item:hover{

    background-color:#c8d0db;
}

.item-checked{
    transform:scale(1);
}